<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/normalyze.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
</head>
<body>
   
   <header class="container bg-white">

      <div class="flexbox">

       <h1 class="flexbox__titulo">Play<strong>Games</strong> </h1>

       <nav class="flexbox__navegacion">

         <a href="#">Inicio</a>
         <a asp-action="Listar" asp-controller="Producto">Lista</a>
         <a href="#">Video Game</a>

       </nav>

      </div>


     </header>
     

       <div id="mi-carrusel" class="carousel slide carousel-fade " data-bs-ride="carousel">
    
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mi-carrusel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#mi-carrusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#mi-carrusel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>

        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src="~/img/game.jpg" class="d-block w-100" alt="Foto Sabores de Chocolate">
       
           

          </div>

          <div class="carousel-item">
            <img src="~/img/gamer.jpg" class="d-block w-100" alt="Foto Helado">

            

          </div>

          <div class="carousel-item">
            <img src="~/img/play.jpg" class="d-block w-100" alt="Foto Sabores General">
            
            

          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#mi-carrusel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#mi-carrusel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        
      </div>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>

   
   
   
   
    

    

